
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
}

body {
    /*background-color: gray;*/
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

header {
    background-color: #2196F3;
    width: 100%;
    height: 180px;
}

#headerContent {
    height: 180px;
    max-width: 1920px;
    margin: 0 auto;
	display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

#headerContent p, #footerContent p {
    color: white;
}

#headerContent a, #footerContent a {
    color: white;
}
#headerContent a:hover, #footerContent a:hover {
    color: #edeef0;
}

header h1 {
	color: #fccb0a;
	line-height: 30px;
	margin: 8px 0;
}

main {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    flex-grow: 1;
}

header, main, footer {
    flex-shrink: 0;
}

#mainContent {
    background-color: white;
    display: flex;
}

.mainColumn {
    flex-grow: 1;
    padding: 20px 20px 20px 60px;
}

.column1 {
    width: calc(100% - 28% - 34%);
    float: left;
}

.column2 {
    width: 28%;
    float: left;
}

.column3 {
    width: 34%;
    float: right;
}

footer {
    background-color: #2196F3;
    width: 100%;
}

#footerContent {
    height: 40px;
    max-width: 1920px;
    margin: 0 auto;
}

.rightColumn {
    background-color: #edeef0;
    width: 360px;
    min-width: 360px;
    padding: 20px 20px;
}

p {
    color: #586680;
}

a {
    color: black;
    transition: color 0.5s;
}

a:hover {
    text-decoration: underline;
    color: #586680;
}

.noMargin {
    margin: 0;
}

.greyBackground {
    background-color: #edeef0;
}

.greyBlueBackground {
    background-color: #586680;
}

.column1 > div, .column2 > div, .column3 > div {
    padding: 16px 20px;
}

.column1 > div > div, .rightColumn > div > div {
    margin-bottom: 20px;
}

#rightColumnButtom {
    display: none;
    width: 80px;
    height: 39px;
    position: relative;
    left: -88px;
    float: left;
    text-align: center;
    border-style: solid;
    border-width: 7px 0 7px 7px;
    border-color: #edeef0;
    border-radius: 20px 0 0 20px;
    background-color: white;
    box-shadow: -3px 2px 6px -2px #586680;
}

#rightColumnButtom > img {
    height: 100%;
}

#rightColumnButtom:first-child > img {
    float: left;
}

#avatar {
	/*background-color: red;*/
    width: 200px;
    min-width: 200px;
    height: 100%;
	background-image: url('../images/avatar.png');
    background-position: 2px 14px;
    background-size: contain;
    background-repeat: no-repeat;
    transform: scaleX(-1);
}

#introduction {
	/*background-color: green;*/
	flex-grow: 1;
}

#contact {
    /*background-color: orange;*/
    margin: 0 20px 0 16px;
}

#languages {
    /*background-color: pink;*/
    position: relative;
	width: 360px;
	min-width: 360px;
	padding: 36px 0 36px 20px;
}

#languages::before {
    content: "";
    width: 2px;
    height: 100%;
    background-color: white;
    position: absolute;
    left: 0;
    top: 0;
}

.mainColumn > h1, .rightColumn h1 {
    padding: 6px 20px;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.rightColumn h1 {
    background-color: white;
}

#experience h2, #education h2 {
    position: relative;
    font-size: 20px;
    margin-bottom: 22px;
}

#mainContent h2 > span, #mainContent h3 > span {
    font-size: 14px;
}

#experience h2::after, #education h2::after {
    content: "";
    background-color: #fccb0a;
    width: 55px;
    height: 5px;
    position: absolute;
    left: 0;
    bottom: -10px;
}

#mainContent h3 {
    font-size: 18px;
}

#mainContent h4 {
    font-size: 14px;
}

#mainContent h5 {
    font-size: 16px;
    padding-left: 15px;
    position: relative
}

#mainContent p {
    font-size: 15px;
    margin: 16px 0 8px 0;
}

#mainContent ul {
    margin-top: 8px;
}

#mainContent li > h5::before {
    content: "\2013";
    margin-right: 6px;
    position: absolute;
    left: 0;
}

#mainContent li {
    margin-bottom: 8px;
}

#mainContent li p {
    font-size: 13px;
    margin: 4px 0 10px 16px;
}

#mainContent li p > a {
    color: #586680;
}
#mainContent li p > a:hover {
    color: black;
}

#mainContent li p > spam {
	display: none;
    cursor: pointer;
    transition: color 0.5s;
    color: #dab00a;
}
#mainContent li p > spam:hover {
    color: #586680;
    text-decoration: underline;
}

#sngular {
    
}

.column3 h1 {
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.column3 h2 {
    font-size: 20px;
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    margin: 20px 0 12px 0;
}

.column3 p {
    font-size: 16px;
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    margin: 20px 0 12px 0;
}

#publications {
    max-height: 228px;
    overflow: hidden;
    box-shadow: inset black 0 -20px 28px -26px;
    transition: max-height 1s, box-shadow 1.5s;
}
#publications:hover {
    box-shadow: none;
}

#skills {
    background-color: #fccb0a;
    margin-bottom: 20px;
}

#skills > ul > li {
    position: relative;
    display: inline-block;
    background-color: white;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    padding: 8px 10px 8px 10px;
    margin: 0 4px 4px 0;
    box-shadow: #00000024 0 1px 6px 1px;
    transition: box-shadow 0.5s;
}

#skills > ul > li:hover {
    box-shadow: none;
}

#skills > ul > li > div {
    position: absolute;
    color: black;
}

#skills > ul > li:before {
    content: "";
    width: 0;
    height: 100%;
    border-radius: 9px;
    background-color: #edeef0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transition: width 0.5s ease-out;
}

#skills > ul > li:hover:before {
    width: 100%;
    box-shadow: #0000003b 1px 0 4px;
}

#skills > ul > li.p25:hover:before {
    width: 25%;
}
#skills > ul > li.p50:hover:before {
    width: 50%;
}
#skills > ul > li.p75:hover:before {
    width: 75%;
}

#tools {
    
}

#tools > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#tools > ul > li {
    background-color: white;
    width: calc(25% - 6px);
    border-radius: 10px;
    text-align: center;
    padding: 8px 4px 4px 4px;
    margin-bottom: 8px;
    box-shadow: #00000070 0 1px 6px 1px;
    transition: box-shadow 0.5s, transform 0.5s;
    position: relative;
    height: 110px;
    perspective: 600px;
}

#tools > ul > li:last-child {
    visibility: hidden;
}

#tools > ul > li:hover {
    box-shadow: none;
    transform: translateY(1px);
}

#tools > ul > li > img {
    width: 100%;
    padding: 0 10px;
    max-width: 86px;
}

#tools > ul > li > p {
    color: #586680;
    margin: 0;
    font-size: 15px;
    position: absolute;
    bottom: 2px;
    width: calc(100% - 8px);
}

.cube {
    width: 80%;
    max-width: 70px;
    padding-top: 80%;
    margin: 0 auto;
    position: relative;
    transform-style: preserve-3d;
    /*transform: translateZ(-100px);*/
    transform: translateZ(-100px) rotateY(   0deg);
    transition: transform 1s ease-in-out;
    animation-name: emptyanim;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease;
    animation-play-state: paused;
}
.cube:hover {
	animation-play-state: running;
}
.front_left_top:hover {
    animation-name: front_left_top_keys;
}
.front_left_top_right:hover {
	animation-name: front_left_top_right_keys;
}
.front_left_top_back_right:hover {
	animation-name: front_left_top_back_right_keys;
}

.cubeFace {
    position: absolute;
    top: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

/*.cubeFaceFront  { background: hsla(  0, 100%, 50%, 0.7); } */
/*.cubeFaceRight  { background: hsla( 60, 100%, 50%, 0.7); } */
/*.cubeFaceBack   { background: hsla(120, 100%, 50%, 0.7); } */
/*.cubeFaceLeft   { background: hsla(180, 100%, 50%, 0.7); } */
/*.cubeFaceTop    { background: hsla(240, 100%, 50%, 0.7); } */
/*.cubeFaceBottom { background: hsla(300, 100%, 50%, 0.7); } */

.cubeFaceFront  { transform: rotateY(  0deg) rotateY(-90deg) translateX(50%) rotateY(90deg); }
.cubeFaceRight  { transform: rotateY( 90deg) rotateY(-90deg) translateX(50%) rotateY(90deg); }
.cubeFaceBack   { transform: rotateY(180deg) rotateY(-90deg) translateX(50%) rotateY(90deg); }
.cubeFaceLeft   { transform: rotateY(-90deg) rotateY(-90deg) translateX(50%) rotateY(90deg); }
.cubeFaceTop    { transform: rotateX( 90deg) rotateY(-90deg) translateX(50%) rotateY(90deg); }
.cubeFaceBottom { transform: rotateX(-90deg) rotateY(-90deg) translateX(50%) rotateY(90deg); }

.cube.showFront  { transform: translateZ(-100px) rotateY(   0deg); }
.cube.showRight  { transform: translateZ(-100px) rotateY( -90deg); }
.cube.showBack   { transform: translateZ(-100px) rotateY(-180deg); }
.cube.showLeft   { transform: translateZ(-100px) rotateY(  90deg); }
.cube.showTop    { transform: translateZ(-100px) rotateX( -90deg); }
.cube.showBottom { transform: translateZ(-100px) rotateX(  90deg); }

@keyframes emptyanim {}
@keyframes front_left_top_keys {
    0%  { transform: translateZ(-100px) rotateY(   0deg); }
    33% { transform: translateZ(-100px) rotateY(  90deg); }
    66% { transform: translateZ(-100px) rotateX( -90deg); }
    100% { transform: translateZ(-100px) rotateY(   0deg); }
}
@keyframes front_left_top_right_keys {
    0%   { transform: translateZ(-100px) rotateY(   0deg); }
    30%  { transform: translateZ(-100px) rotateY(  90deg); }
    50%  { transform: translateZ(-100px) rotateX( -90deg); }
    70%  { transform: translateZ(-100px) rotateY( -90deg); }
    100% { transform: translateZ(-100px) rotateY(   0deg); }
}
@keyframes front_left_top_back_right_keys {
    0%   { transform: translateZ(-100px) rotateY(   0deg); }
    25%  { transform: translateZ(-100px) rotateY(  90deg); }
    45%  { transform: translateZ(-100px) rotateX( -90deg); }
    65%  { transform: translateZ(-100px) rotateY(-180deg); }
    80%  { transform: translateZ(-100px) rotateY( -90deg); }
    100% { transform: translateZ(-100px) rotateY(   0deg); }
}

#tools .cube > .cubeFace > img {
    width: 100%;
}

#twitter {
	height: 100%;
    line-height: 40px;
    text-align: right;
    padding-right: 20px;
    font-size: 13px;
}


/* Extra small devices (phones, 480px and down) */
@media only screen
  and (max-width: 480px) {
    
    #headerContent {
        display: inline;
    }

    #avatar {
        float: left;
    }

    header h1 {
        line-height: 28px;
        margin: 6px 0;
    }

    #introduction, #contact, #languages {
        padding-right: 20px;
        margin-top: 8px;
    }

    #contact {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #contact::before {
        visibility: hidden;
    }

    #languages {
        padding: 0;
        display: flex;
    }

    #languages > p {
        margin-right: 20px;
    }

    #languages::before {
        visibility: hidden;
    }

    #mainContent {
        /*background-color: orangered;*/
		overflow: hidden;
        position: relative;
    }
	
	.mainColumn {
		padding: 20px;
	}
	
	.rightColumn {
		position: absolute;
		right: -360px;
		box-shadow: none;
		transition: left 0.5s, right 0.5s, box-shadow 0.5s;
	}
	.rightColumn.active {
		box-shadow: -1px 2px 6px 0px #586680;
		right: 0;
    }
    .rightColumn.active > #rightColumnButtom {
        width: 68px;
    }
	
	#rightColumnButtom {
		display: block;
		cursor: pointer; 
	}

    .column1 {
        width: 100%;
    }

    .column2 {
        width: 100%;
    }

    .column3 {
        width: 100%;
        float: none;
        clear: both;
    }

    .column2 > div {
        padding-top: 0;
    }
	
	#languages {
		width: unset;
		min-width: fit-content;
		margin-right: 20px;
	}
	#languages::before {
		height: 60px;
		top: 24px;
	}

    #skills {
        margin: 0 32px 20px 32px;
    }

    #tools {
        margin: 0 32px 20px 32px;
    }

    #tools > ul > li > img {
        max-width: 86px;
    }

    .cube {
        max-width: 70px;
    }
}

/* Small devices (between 480px and 768px) */
@media only screen
  and (min-width: 481px)
  and (max-width: 768px) {

    #headerContent {
        display: inline;
    }

    #avatar {
        float: left;
    }

    header h1 {
        line-height: 28px;
        margin: 6px 0;
    }

    #introduction, #contact, #languages {
        padding-right: 20px;
        margin-top: 8px;
    }

    #contact {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #contact::before {
        visibility: hidden;
    }

    #languages {
        padding: 0;
        display: flex;
    }

    #languages > p {
        margin-right: 20px;
    }

    #languages::before {
        visibility: hidden;
    }

    #mainContent {
        /*background-color: orangered;*/
		overflow: hidden;
        position: relative;
    }
	
	.mainColumn {
		padding: 20px;
	}
	
	.rightColumn {
		position: absolute;
		right: -360px;
		box-shadow: none;
		transition: left 0.5s, right 0.5s, box-shadow 0.5s;
	}
	.rightColumn.active {
		box-shadow: -1px 2px 6px 0px #586680;
		right: 0;
    }
    .rightColumn.active > #rightColumnButtom {
        width: 68px;
    }
	
	#rightColumnButtom {
		display: block;
		cursor: pointer; 
	}

    .column1 {
        width: 100%;
    }

    .column2 {
        width: 100%;
    }

    .column3 {
        width: 100%;
        float: none;
        clear: both;
    }

    .column2 > div {
        padding-top: 0;
    }
	
	#languages {
		width: unset;
		min-width: fit-content;
		margin-right: 20px;
	}
	#languages::before {
		height: 60px;
		top: 24px;
	}

    #skills {
        margin: 0 32px 20px 32px;
    }

    #tools {
        margin: 0 32px 20px 32px;
    }

    #tools > ul > li > img {
        max-width: 86px;
    }

    .cube {
        max-width: 70px;
    }
}

/* Small devices (between 768px and 1024px) */
@media only screen
  and (min-width: 769px)
  and (max-width: 1024px) {

    #mainContent {
		overflow: hidden;
		position: relative;
    }
	
	.mainColumn {
		padding: 20px;
	}
	
	.rightColumn {
		position: absolute;
		right: -360px;
		box-shadow: none;
		transition: left 0.5s, right 0.5s, box-shadow 0.5s;
	}
	.rightColumn.active {
		box-shadow: -1px 2px 6px 0px #586680;
		right: 0;
	}
    .rightColumn.active > #rightColumnButtom {
        width: 68px;
    }
	
	#rightColumnButtom {
		display: block;
		cursor: pointer; 
	}

    .column1 {
        width: 50%;
        float: left;
    }

    .column2 {
        width: 50%;
        float: right;
    }

    .column3 {
        width: 100%;
        float: none;
        clear: both;
    }
	
	#contact {
		position: relative;
		padding-left: 16px;
	}
	#contact::before {
		content: "";
		width: 2px;
		height: 100%;
		background-color: white;
		position: absolute;
		left: 0;
		top: 0;
	}
	
	#languages {
		width: unset;
		min-width: fit-content;
		margin-right: 20px;
	}
	#languages::before {
		height: 60px;
		top: 24px;
	}

    #skills {
        width: 50%;
        float: left;
    }

    #tools {
        width: 50%;
        float: right;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen
  and (min-width: 1025px)
  and (max-width: 1600px) {

    #mainContent {
        /*background-color: rgb(255, 0, 149);*/
    }

    .column1 {
        width: 50%;
        float: left;
    }

    .column2 {
        width: 50%;
        float: right;
    }

    .column3 {
        width: 100%;
        float: none;
        clear: both;
    }

    #skills {
        width: 50%;
        float: left;
    }

    #tools {
        width: 50%;
        float: right;
    }
}
